$themeColor: rgb(218, 233, 248);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  header {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    top: 0;
    z-index: 10;

    section.left {
      padding: 1rem;

      span {
        font-size: large;
        font-weight: bold;
      }
    }

    nav {
      ul {
        display: flex;
        list-style-type: none;
        align-items: center;

        li {
          a {
            color: black;
            text-decoration: none;
            font-size: medium;
            padding: 1rem;
          }
        }
      }
    }

    .burger {
      position: relative;
      background-color: transparent;
      border: none;
      padding: 1.5rem;
      display: none;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      img {
        width: 24px;
        height: 24px;
        display: block;
        position: absolute;
        transition: opacity 0.2s ease;
      }

      .icon_close {
        opacity: 0;
        z-index: 30;
      }

      &.isOpen {
        .icon_burger {
          opacity: 0;
        }
        .icon_close {
          opacity: 1;
        }
      }
    }
  }

  .mobile_nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
    display: block;
    z-index: 20;
    background-color: white;
    transform: translateX(100%);
    transition: transform 0.3s ease;

    ul {
      display: flex;
      flex-direction: column;
      list-style-type: none;
      align-items: center;
      margin: 20px;

      li {
        padding: 10px;
        a {
          color: black;
          text-align: center;
          text-decoration: none;
          font-size: medium;
        }
      }
    }

    &.isOpen {
      transform: translateX(0);
      box-shadow: -3px 0px 4px 1px rgba(120, 120, 120, 0.2);
    }
  }

  main {
    section.hero {
      width: 100%;
      height: 250px;
      background-color: $themeColor;
      display: flex;
      justify-content: center;
      align-items: center;

      h2 {
        font-size: 1.5rem;
        text-align: center;
      }
    }

    section.content {
      margin: 2rem auto;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .bars {
        display: grid;
        gap: 20px;
        grid-template-columns: 2fr repeat(4, 1fr);

        .bar1 {
          grid-column: 1 / -1;
        }
        .bar2 {
          grid-column: 1 / 4;
        }
        .bar3 {
          grid-column: 4 / 6;
        }

        .bar {
          display: flex;
          align-items: center;
          background-color: $themeColor;

          img {
            width: 80px;
            height: 50px;
            object-fit: cover;
            flex-shrink: 0;
          }

          .bar_text {
            padding: 0rem 1rem;
            text-align: left;
          }
        }
      }

      .cards {
        display: grid;
        gap: 20px;
        grid-template-columns: 2fr repeat(4, 1fr);
        grid-auto-rows: 200px;

        .card {
          position: relative;

          img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

          .star_icon {
            position: absolute;
            width: 20px;
            height: 20px;
            top: 8px;
            right: 8px;
          }

          .card_overlay {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.7);
            z-index: 10;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.5rem;

            .card_title {
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              text-align: center;
              text-align-last: left;
            }
          }
        }
      }
      #loadMore {
        width: 100px;
        display: block;
        margin: 0.8rem auto;
        text-align: center;
        padding: 0.5rem 1rem;
        background-color: $themeColor;
        border: solid 1px;
        border-radius: 4px;
        border-color: rgba(120, 120, 120, 0.2);
        cursor: pointer;
      }
    }
  }
}

@media screen and (min-width: 1201px) {
  body {
    main {
      section.content {
        max-width: 1200px;
      }
    }
  }
}

@media screen and (min-width: 601px) and (max-width: 1200px) {
  body {
    main {
      section.content {
        width: 90%;

        .bars {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-areas:
            "bar1 bar2"
            "bar3 bar3";
          grid-auto-rows: 50px;

          .bar1 {
            grid-area: bar1;
          }
          .bar2 {
            grid-area: bar2;
          }
          .bar3 {
            grid-area: bar3;
          }

          .bar {
            display: flex;
            align-items: center;
          }

          img {
            width: 80px;
            height: 50px;
          }
        }

        .cards {
          grid-template-columns: repeat(4, 1fr);
          grid-auto-rows: 200px;
        }

        .card:nth-child(10n - 1),
        .card:nth-child(10n) {
          grid-column: span 2;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  body {
    header {
      nav {
        display: none;
      }

      .burger {
        display: flex;
      }
    }

    main {
      section.content {
        width: 90%;

        .bars {
          display: grid;
          grid-template-columns: 1fr;
          grid-auto-rows: 50px;
          grid-template-areas: none;

          .bar {
            display: flex;
            align-items: center;
          }

          .bar1,
          .bar2,
          .bar3 {
            grid-column: 1 / -1;
            grid-area: auto;
          }
        }

        .cards {
          display: grid;
          grid-template-columns: 1fr;
        }
      }
    }
  }
}
