* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  main {
    h2 {
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      color: white;
      background-color: rgba($color: #182f53, $alpha: 1);
      padding: 1rem;
    }
    section {
      margin: 1.5rem;

      h3 {
        text-align: center;
      }
      button {
        margin-top: 10px;
        padding: 2px 10px;
      }
      form {
        margin: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        div {
          display: flex;
          align-items: center;
          padding: 5px;
          label {
            font-size: 15px;
          }
          input {
            margin: 0rem 0.5rem;
          }
        }
      }
    }
  }
}
